.recipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
.recipe-btns {
  flex-grow: 0;
}
.recipe-btns button {
  margin-left: 4px;
}
.recipe-name {
  font-size: 28px;
  font-weight: bold;
}
.recipe-ingridients {
  margin-top: 10px;
}
.recipe-ingridients span {
  font-weight: bold;
}
.recipe-steps {
  margin-top: 10px;
}
.recipe-steps h5 {
  font-weight: bold;
}
.recipe-btn {
  background: transparent;
  border: none;
}
.recipe-btn:focus,
.recipe-btn:focus-visible {
  outline: none;
}
